body, html {
    margin: unset;
    overflow: hidden;
    height: 100%;
    user-select: none;
    touch-action: manipulation;
}

/* 全てを含むコンテナ */
#container {
    width: 100%;
    height: 100%;
}
#container:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
#container:-moz-full-screen {
    width: 100%;
    height: 100%;
}
#container:-ms-fullscreen {
    width: 100%;
    height: 100%;
}
#container:fullscreen {
    width: 100%;
    height: 100%;
}

/* canvasを含むステージ */
#stage {
    background-color: orange;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
}
#stage > canvas {
    width: 100%;
}

/* 真ん中の黒四角 */
#center{
    background-color: #00000088;
    width: 10px;
    height:10px;
    position: absolute;
    top:calc(50vh - 5px);
    left:calc(50vw - 5px);
    z-index:10;
    display: none;
}

/* スマホのスティック */
#stick {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    user-select: none;
    touch-action: manipulation;
}

/* 検索バー */
#searchdiv{
    top: 0px;
    right: 0px;
    width: 150px;
    z-index: 5;
    position: absolute;
    user-select: none;
    touch-action: manipulation;
}
#search{
    width: 100%;
    height: 26px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid rgb(151, 151, 151);
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}
#search:focus {
    border: 2px solid rgb(96, 178, 255);
    z-index: 6;
    outline: 0;
}
#searchres{
    width: 100%;
    height: 60vh;
    background-color: rgba(255,255,255,0.4);
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
#searchres::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    width: 8px;
}
#searchres::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}
#searchres::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
.res{
    width: 100%;
    height: 70px;
    overflow: hidden;
    font-size: 15px;
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(254, 251, 231);
    user-select: none;
}
.search_bold{
    font-weight: bold;
}

/* 操作説明 */
#guide {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box;
    color: #444;
}
#guide_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6668;
    backdrop-filter: blur(2px);
    cursor: pointer;
}
#guide_close {
    position: absolute;
    bottom: 2vh;
    margin: 0 calc(50% - 100px);
    border: 1px solid #222;
    width: 200px;
    height: 50px;
    background-color: hsla(0,0%,93.3%,.53333);
}
#guide_button{
    z-index: 10;
    color: #f5f5f5;
    text-shadow: #000 0 0 10px;
    display: block;
    position: absolute;
    bottom: -5px;
    right: 5px;
    line-height: 40px;
}
#close_text {
    text-align: center;
    margin: 12px;
}
#guide_content {
    /* --content_width_cssVar: 75vw; */
    /* @include smartphone($root: $root) {
      @include portrait($root: $root) {
        --content_width_cssVar: 90vw;
      }
    } */
    /* @media screen and(max-width: 480px) {
        --content_width_cssVar: 90vw;
    } */
    /* --content_width: 75;
    --content_height: 75; */
    position: relative;
    margin: 10vh 10vw;
    border: 1px transparent solid;
    width: 80vw;
    height: 80vh;
    background-color: #fffb;
    box-shadow: 5px 5px #4448;
}
#guide_title {
    margin-top: 1vh;
    margin-bottom: 6vh;
    width: 100%;
    height: 5vh;
    /* line-height: 50px; */
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    /* @include smartphone($root: $root) {
      font-size: 75%;
      @include landscape($root: $root) {
        margin: 10px 0;
        height: 30px;
        h1 {
          margin: 0;
          line-height: 30px;
        }
      }
    } */
}
#policy_text {
    margin: 0 40px;
    /*padding: 40px;*/
    width: calc(100% - 40px * 2);
    /*width: 100%;*/
    /*height: calc(100% - 100px);*/
    height: calc(100% - (100px + 100px));
    overflow-x: revert;
    overflow-y: scroll;
    font-weight: 300;
    color: #444;
    height: 50vh;

    /* @include smartphone($root: $root) {
      @include landscape($root: $root) {
        height: calc(100% - (50px + 50px));
      }
    } */

    /* ::v-deep {
      * {
        color: #444;
        @include smartphone($root: $root) {
          font-size: .75rem;
        }
      }

      h2 {
        font-weight: 500;
        @include smartphone($root: $root) {
          font-size: 1.2rem;
        }
      }
    } */
}

/* ストリートビュー左上のバー */
#spotviewer {
    width: 100%;
    height: 25%;
    background-color: rgb(255, 160, 00);
    z-index: 7;
    transition-duration: .5s;
    position: fixed;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* -ms-overflow-style: none;    IE, Edge 対応 */
    scrollbar-width: none;
}
#spotviewer::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    /* display:none; */
    height: 8px;
}
#spotviewer::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}
#spotviewer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
.content {
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.cnts {
    background-color: rgba(255, 160, 00, .6);
    padding: 1px;
    position: absolute;
    z-index: 8;
    color: white;
}

#menubar {
    z-index: 6;
    width: 50vmin;
    height: 13vmin;
    position: absolute;
    background-color: white;
    transition-duration: .5s;
    top: 4px;
    left: 4px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 3px rgb(100,100,100);
}
#showb {
    position: absolute;
    height: 5%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
    z-index: 6;
    transition: all 4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
#showbv {
    position: absolute;
    transform: rotate(45deg);
    top: -12px;
    left: calc(50% - 13px);
    width: 26px;
    height: 26px;
    transition: all 4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
#delb {
    z-index: 6;
    position: absolute;
    top: 1vmin;
    height: 7vmin;
    width: 8vmin;
    margin: 2vmin 0 16px 2vmin;
}
#delbC {
    height: 1vmin;
    width: 9vmin;
    transform: rotate(45deg);
    margin: 3vmin 0 0 0;
    background-color: rgb(255, 130, 00);
}
#delbC::after {
    content: "";
    position: absolute;
    width:  9vmin;
    height: 1vmin;
    background: rgb(255, 130, 00);
    margin-top: 3vmin;
    transform: rotate(-90deg);
    margin: 0;
}
#menub {
    z-index: 10;
    position: absolute;
    top: 1vmin;
    left: 14.5vmin;
    height: 7vmin;
    width: 7vmin;
    margin: 2vmin 0 2vmin;
    transition-duration: .5s;
}
.menubS {
    position: relative;
    width: 1.4vmin;
    height: 1.4vmin;
    background-color: rgb(255, 130, 00);
    margin-left: 2.8vmin;
}
.menubS:before {
    content: "";
    position: absolute;
    left: -2.8vmin;
    width:  1.4vmin;
    height: 1.4vmin;
    background-color: rgb(255, 130, 00);
}
.menubS:after {
    content: "";
    position: absolute;
    left: 2.8vmin;
    width:  1.4vmin;
    height: 1.4vmin;
    background-color: rgb(255, 130, 00);
}
#menub div:nth-child(1) {
    top: 0;
}
#menub div:nth-child(2) {
    top: 1.4vmin;
}
#menub div:nth-child(3) {
    top: 2.8vmin;
}
#changeb {
    z-index: 6;
    top: 1vmin;
    margin: 1.5vmin 0 2vmin;
    left: 26vmin;
    height: 8vmin;
    position: absolute;
}
#mode {
    z-index: 6;
    top: 1vmin;
    left: 38vmin;
    height: 8vmin;
    margin: 1.5vmin 0 2vmin;
    display: inline-block;
    position: absolute;
    line-height: 7vmin;
    font-size: 2.5vmin;
}
.modep {
    z-index: 6;
    position: relative;
    left: calc(50% - 7.5vmax);
    width: 15vmax;
    background-color: black;
    transition: all .8s;
    opacity: 0;
    color: white;
    font-size: 2vmax;
    text-align: center;
}
.modep.show {
    opacity: .6;
}
@media (orientation: portrait){
    /*縦長*/
    #spotviewer {
        height: 20%;
        top: -20%;
    }
    .content {
        width: 75%;
        margin: 1.5% .5% 0;
        height: 80%;
    }
    .cnts {
        top: 75%;
        font-size: 3vw;
    }
    #showbv {
        border-bottom: 1.3vw solid rgba(255, 255, 255, 0.9);
        border-right: 1.3vw solid rgba(255, 255, 255, 0.9);
    }
    .modep {
        height: 8%;
        top: 46%;
        line-height: 8vh;
    }
}
@media (orientation: landscape){
    /*横長*/
    #spotviewer {
        height: 30%;
        top: -30%;
    }
    .content {
        width: 40%;
        margin: .5% .5% 0;
        height: 80%;
    }
    .cnts {
        top: 67%;
        font-size: 3vw;
    }
    #showbv {
        border-bottom: .8vmin solid rgba(255, 255, 255, 0.9);
        border-right: .8vmin solid rgba(255, 255, 255, 0.9);
    }
    .modep {
        height: 15%;
        top: 42.5%;
        line-height: 15vh;
    }
}